{{ form_ajax(__SELF__ ~ '::onFormSubmit') }}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    var captchas = [];

    var onloadCallback = function() {
        jQuery('.g-recaptcha').each(function(index, el) {
            captchas[el.id] = grecaptcha.render(el, $(el).data());
        });
    }

    function resetReCaptcha(id) {
        var widget = captchas[id];
        grecaptcha.reset(widget);
    }

</script>

<div id="{{ __SELF__ }}_forms_flash" style=""></div>
<br>
<br>
<div id="view_c" style="margin-top:20px;">
    <form name="IndexForm" method="post" action="/?enc=L19wb3N0L2NsaWVudFBvc3QuYXNw" class="form-inline"
          enctype="multipart/form-data">
        <table cellpadding="0" cellspacing="0" width="100%">
            <colgroup>
                <col width="15%">
                <col width="35%">
                <col width="15%">
                <col width="35%">
            </colgroup>
            <tr>
                <td>Имя <span style="color:#419EFD">*</span></td>
                <td>
                    <input type="text" name="Имя" class="search_input" style="width:100%;">
                </td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>
                    <input type="text" name="Телефон" class="search_input" style="width:100%;">
                </td>

            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td>E-mail <span style="color:#419EFD">*</span></td>
                <td>
                    <input type="text" name="email" class="search_input" style="width:100%;">
                </td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td valign="top">Сообщение <span style="color:#419EFD">*</span></td>
                <td colspan="3">
                                    <textarea name="Сообщение" class="search_input"
                                              style="width:100%;height:400px;resize: none;"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
{#            <tr>#}
{#                <td valign="top">Файл</td>#}
{#                <td colspan="3">#}
{#                            {% partial '@file-upload' %}#}
{#                    <input type="file" name="file_file1">#}
{#                </td>#}
{#            </tr>#}

        </table>
        <div class="view_list_btn" style="margin-top:30px;text-align:right;margin-bottom: 30px">
            <div class="form-group">
                {% partial '@recaptcha' %}
            </div>

            <button id="simpleContactSubmitButton" type="submit" class="btn btn-default">Submit</button>

            <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
        </div>
{#            {{ form_close() }}#}
        </div>
    </form>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>
</div>
